<mat-sidenav-container class="main-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 10 : 0">
    <mat-sidenav class="example-sidenav" #drawer [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
                 <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Novedades
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                      <a mat-list-item >Dotación</a>
                    </mat-nav-list>
                  </mat-expansion-panel>
                 </mat-accordion>
                 <mat-nav-list>
                  <a mat-list-item (click)="logout()" >Salir</a>
                </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>