
<div class="cards-content">
    <mat-card class="example-mat-card">
        <mat-card-header>
            <mat-card-title>
                Personal por empresa
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div style="width: 100%;">
                <canvas id="chartCompany">{{ chartCompany }}</canvas>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-mat-card">
        <mat-card-header>
            <mat-card-title>
                Usuarios activos
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="active-users">
            <span>54</span>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-mat-card">
        <mat-card-header>
            <mat-card-title>
                Personal ingresado
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div style="width: 100%;">
                <canvas id="companyJoined">{{ companyJoined }}</canvas>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<div class="div-vacant-card">
    <mat-card class="vacant-card">
        <mat-card-header>
            <mat-card-title>
                Vacantes
            </mat-card-title>
            <mat-card-subtitle>
                Ultimas 4 vacantes registradas 
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
    
        </mat-card-content>
    </mat-card>
</div>